body {
  max-width: 100%;
  min-width: $width;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.row {
  max-width: $width;
  margin: 0 auto;
}

/*floats*/

.fl {
  float: left;
}

.fr {
  float: right;
}
/*grids*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
