/*button*/

.btn {
  text-align: center;
  max-width: 220px;
  width: 100%;
  @include font("Bree Serif", 400, 16px, 2px, 100%, $white);
  display: inline-block;
  padding: 16px 0;
  background: none;
  border: 2px solid #FFF;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: $black;
  }
}
.btn2 {
  text-align: center;
  max-width: 222px;
  width: 100%;
  @include font("Bree Serif", 400, 16px, 2px, 100%, $white);
  display: inline-block;
  padding: 16px 0;
  background: $primary-color;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: $black;
  }
}
