@mixin width($row-width, $range){
  width : ($row-width/$range)*100%;
}

@mixin flex-basis($num-width, $flex-range){
  flex-basis: ($num-width/$flex-range)*100%;
}

@mixin flex($direction, $wrap, $justify, $align){
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin font($family,$weight,$size,$letter-spacing,$line-height,$color){
  font: {
    family: $family;
    weight: $weight;
    size: $size;
  }
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}
