/*banner*/

#banner {
  position: relative;
  .slider{
    max-width: 100%;
    width: 100%;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  .bannerLogo{
    position: absolute;
    top: 181px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 335px;
    width: 23%;
  }
  .social-media{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 45px 0;
    max-width: 66px;
    width: 100%;
    background: $primary-color;
    p{
      min-height: 313px;
      @include flex(column, wrap, space-around, center);
      a{
        @include font("socialico",400,23px,0,100%,$white)
      }
    }
  }
  .row{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    h1{
      @include font("Bree Serif", 400, 120px, 0, 130%, $white);
    }
    p{
      margin: 0 auto 16px;
        @include font("Montserrat", 600, 32px, 12.872px, 100%, $white);
    }
  }
}
