/*footer*/

#footer {
  background: $black;
  padding: 1px 0 0;
  .footer-top{
    margin: -134px 0 0;
    overflow-x: hidden;
    .row{
      position: relative;
      background: $primary-color;
      max-width: 1440px;
      padding: 57px 0 70px;
      z-index: 2;
      &::before{
        content: "";
        width: 50%;
        background: $primary-color;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -50%;
      }
    }
    .flex-container{
      margin: 0 auto;
      max-width: 1097px;
      @include flex(row,wrap,center,stretch);
      div{
        flex-basis: 33%;
        width: 33%;
      }
    }
    .email{
      position: relative;
      padding: 92px 0 0;
      @include font("Montserrat", 600, 22px,0,30px,$white);
      &::before{
        content: "";
        background: url('../images/common/icons/info-sprites.png') no-repeat 0 0;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }

    }
    .phone{
      position: relative;
      padding: 86px 0 0;
      border-left: 1px solid #FFFFFFB0;
      border-right:1px solid #FFFFFFB0;
      @include font("Montserrat", 600, 37px,0,30px,$white);
      &::before{
        content: "";
        background: url('../images/common/icons/info-sprites.png') no-repeat -73px 0;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .address{
      position: relative;
      padding: 77px 0 0;
      span{display: block;}
      @include font("Montserrat", 600, 22px,0,30px,$white);
      &::before{
        content: "";
        background: url('../images/common/icons/info-sprites.png') no-repeat -144px 0;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .footer-bottom{
    padding: 0 0 75px;
    position: relative;
    margin: 50px 0 0;
    overflow: hidden;
    .row{
      max-width: 1440px;
      position: relative;
    }
    .footer-logo{
      position: absolute;
      top: 0;
      left: 0;
    }
    ul{
      margin: 0 auto;
      padding: 10px 0;
      max-width: 1000px;
      width: 80%;
      @include flex(row,wrap,space-around,flex-start)
      li{
        display: inline-block;
        a{
          display: inline-block;
          @include font("Bree Serif", 400, 16px,0,120%,$white);
          margin: 20px;
        }
      }
    }
    .company-name{
      width: 100%;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,-30%);
      z-index: 0;
      margin: 0;
      @include font("Bree Serif",400,180px,0,100%,#FFFFFF4d);
    }
  }
  .copy, .silver{
    @include font("Montserrat", 400, 15px,0,30px,$white);
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
