/*header*/

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: none;
  .row{
    max-width: 1344px;
    padding: 50px 0 26px;
    width: 95%;
    border-bottom: 1px solid rgba(255,255,255,0.29);
    @include flex(row,wrap,space-between,flex-end);
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @include flex(row,wrap,space-between,center);
      li {
        list-style: none;
        a {
          text-decoration: none;
          display: inline-block;
          @include font("Bree Serif", 400, 16px, 0, 23px, $white);
        }
        &.active-menu a, a:hover {
          color: #fff;
        }
      }
    }
  }
  .hd-left{
    @include flex-basis(998px, 1344px);
  }
  .hd-right{
    @include flex-basis(268px, 1344px);
    p{
      margin: 0 auto;
      max-width: 218px;
      padding: 0 0 0 58px;
      position: relative;
      a{
        @include font("Montserrat", 600, 34px, 0, 43px, $white);
        &::before{
          content: "";
          width: 45px;
          height: 45px;
          position: absolute;
          top: 0;
          left: 0;
          background: url(../images/common/icons/phone-icon.jpg)
        }
      }
    }
  }
}
