#callus{
  background: url(../images/common/section4Bg.jpg)no-repeat center top;
  background-size: cover;
  padding: 138px 0 100px;
  overflow-x: hidden;
  .row{
    max-width: 1440px;
  }
  h3{
    @include font("Bree Serif", 400, 53px,0,normal,$white);
    margin: 0 0 15px;
  }
  h4{
    @include font("Montserrat", 400, 16px,0,30px,$white);
  }
  .phone{
    @include font("Montserrat", 600, 34px,0,30px,$white);
    margin: 10px 0 0;
    display: inline-block;
    padding: 9px 15px 9px 65px;
    border: 1px solid #FFF;
    position: relative;
    transition: all 0.5s ease;
    &::before{
      content: "";
      background: url(../images/common/icons/phone-icon.jpg);
      background-size: 100% 100%;
      width: 51px;
      height: 51px;
      position: absolute;
      top:-1px;
      left: -1px;
      transition: all 0.5s ease;
    }
    &:hover{
      background: #FFF;
      color: #000;
      &::before{
        filter: grayscale(100%);
      }
    }
  }
}
