#services{
  background: url(../images/common/section2Bg.jpg)no-repeat center top;
  background-size: cover;
  padding: 109px 0 133px;
  .row{
    max-width: 1829px;
  }
  h2{
    color: $white;
    margin: 0 0 30px;
  }
  .service-container{
    @include flex(row,wrap,space-around,stretch);
    .services-box{
      position: relative;
      margin: 30px 6px 0;
      @include flex-basis(440px, 1829px);
      img{width: 100%}
      p{
        text-align: left;
        position: absolute;
        top: 78%;
        left: 10%;
        margin: 0 auto;
        padding: 20px 0 0;
        @include font("Montserrat", 600, 32px, 0.6vw, 100%, $white);
        span{
          display: block;
          font-size: 20px;
          font-weight: 400;
        }
        &::before{
          content: "";
          width: 159px;
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(255,255,255,0.47);
        }
      }
    }
  }
}
