#welcome{
  position: relative;
  background: url(../images/common/section1Bg.jpg)no-repeat center center;
  background-size: cover;
  padding: 145px 0 134px;
  overflow: hidden;
  .row{
    max-width: 1440px;
    position: relative;
  }
  .welcome-txt{
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    margin: 0;
    @include font("Bree Serif",400,180px,0,100%,#EEEEEE);
  }
  .red-box{
    position: relative;
    background: $primary-color;
    z-index: 1;
    max-width: 1178px;
    width: 90%;
    margin: 0 0 0 auto;
    padding: 104px 0 84px;
    .text{
      max-width: 810px;
      margin: 0 0 0 auto;
      text-align: left;
      h1{
        color: #FFFFFF;
        padding: 0 0 40px;
        position: relative;
        &::after{
          content:"";
          width: 445px;
          height: 2px;
          background: #FFF;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
      p{
        max-width: 635px;
        margin: 40px 0 40px;
        @include font("Montserrat", 400, 16px, 0.7px, 30px, $white);
      }
      .link-container{
        @include flex(row, wrap, flex-start, flex-end);
        .lc-left{
          margin: 0 85px 0 0;
          text-align: center;
          @include flex-basis(251px, 810px);
          .btn:first-child{
            margin: 0 0 15px;
          }
        }
        .lc-right{
          @include flex(row, nowrap, space-between, flex-end);
          @include flex-basis(312px, 810px);
        }
      }
    }
  }
  .welcome-img{
    position: absolute;
    top: -63px;
    left: 0;
    z-index: 1;
    box-shadow: 10px 15px 40px -20px;
  }
  .what-text{
    width: 100%;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    margin: 0;
    @include font("Bree Serif",400,180px,0,100%,#EEEEEE);
  }
}
