#contact{
  background: url(../images/common/section5Bg.jpg)no-repeat center left;
  background-size: cover;
  padding: 135px 0 310px;
  overflow: hidden;
  h2{
    position: relative;
    font-size: 96px;
    color: #FFF;
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    text-align: left;
    &::before{
      content: "";
      width: 211px;
      height: 2px;
      background: #FFFFFF;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      left: -127px;
    }
  }
  .row{
    max-width: 1440px;
  }
  form{
    max-width: 777px;
    margin: 25px auto 0 0;
    .top{
      @include flex(row,wrap,space-between,flex-start);
      div{
        @include flex-basis(382px, 777px);
        @include width(382px, 777px);
      }
    }
    .bottom{
      text-align: left;
      .confirmations{
        @include font("Montserrat", 400, 16px,0,30px,$white);
        span{
          display: inline-block;
          vertical-align: top;
          width: 90%;
          margin-left: 10px;
        }
      }
    }
    input[type="text"]{
      height: 42px;
    }
    textarea{
      height: 324px;
      resize: none;
    }
    input[type="text"], textarea{
      background: #FFFFFFB0;
      border: 0;
      padding: 16px 25px;
      @include font("Montserrat", 400, 16px,0,30px,$black);
      &::placeholder{
        @include font("Montserrat", 400, 16px,0,30px,$black);
      }
    }
  }
}
