#reviews{
  background: url(../images/common/section3Bg.jpg)no-repeat center top;
  background-size: cover;
  position: relative;
  padding: 140px 0 155px;
  overflow-x: hidden;
  .row{
    position: relative;
    z-index: 1;
    max-width: 1440px;
    @include flex(row, nowrap, center, flex-start);
  }
  h2.header-testi{
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    margin: 0;
    @include font("Bree Serif",400,180px,0,100%,#EEEEEE);
  }
   img.reviews-img{
    max-width: 1164px;
    @include flex-basis(1164px, 1440px);
    @include width(1164px, 1440px);
  }
  .review-box{
    position: relative;
    background: $primary-color;
    max-width: 550px;
    width: 100%;
    @include flex-basis(550px, 1440px)
    margin: 67px 0 0 -276px;
    padding: 78px 0 69px;
    box-shadow: 10px 15px 40px -20px;
    &::before{
      content: "";
      width: 2px;
      height: 64px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $white;
    }
    h2{
      font-size: 96px;
      color: #FFF;
      line-height: 120%;
    }
    .stars{
      font-size: 21px;
      color: #D9D900;
      margin: 12px 0;
    }
    .comment{
      position: relative;
      max-width: 375px;
      width: 65%;
      margin: 0 auto;
      @include font("Montserrat",400,16px,1px,30px,$white);
      &::before{
        content:"";
        width: 31px;
        height: 24px;
        background: url(../images/content/quote.png);
        position: absolute;
        left: -60px;
        top: 0;
      }
    }
    .author{
      margin: 20px 0;
      @include font("Montserrat",400,16px,1px,30px,$white);
    }
  }
}
