/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0 180px;
}
.inner #content h1{
  margin-bottom: 20px;
}
.services-page #content .service1{
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  ul{
    text-align: left;
    padding: 0 0 0 40px;
    list-style: disc;
    li{
      line-height: 180%;
    }
  }
}
