@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 50px 0 0; position: relative;}
	#header .row {width: 100%; padding: 0}
	#header nav {display:block; height: auto; position: fixed; top: 0; left: 0; right: 0;z-index: 9999;}
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;background: rgba(0,0,0,0.8);}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header .hd-right{padding: 26px 0; margin: 0 0 -1px;background: #000;}
  #banner .bannerLogo{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
  }
  #banner .row h1{font-size: 15vw;}
  #banner .row p{font-size: 3vw;}
  #welcome {padding: 100px 0;}
  #welcome .welcome-img{position: relative; top: 0; transform: translate(0);width: 80%;}
  #welcome .red-box{width: 100%;padding: 20px 0;}
  #welcome .red-box .text{width: 95%;}
  #services .service-container .services-box p{font-size: 26px}
  #services .service-container .services-box p span{font-size: 12px;}

  #contact form .top div{flex-basis: 100%; width: 100%;}
  #footer .footer-top .flex-container div{width: 100%; flex-basis: 100%; margin: 10px;}
  .cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
