@media screen and (max-width:640px){
  #welcome .welcome-txt, #welcome .what-text {font-size: 16vw}
  #welcome .what-text{bottom: 0;}
  h1{font-size: 9vw}
  h2{font-size: 12vw}
  #services .service-container .services-box{flex-basis: 100%;}
  #reviews{padding: 90px 0;}
  #reviews .review-box h2{font-size: 12vw;}
  #reviews .review-box .comment::before{left: -40px;}
  #contact {padding: 40px 0;}
  #contact h2{font-size: 12vw;}
}
