@media screen and (max-width: 1024px){
	#header .hd-left, #header .hd-right{flex-basis: 100%;}
  #header .hd-right{
    margin: 26px 0 0;
  }
	#banner .slider{margin: 0 0 -5px;}
  #banner .bannerLogo{
    width: 35%;
  }
  #banner .social-media{
    position: relative;
    max-width: 100%;
    padding: 5px 0;
		top: 0;
		transform: translateY(0);
    p{
      flex-direction: row;
      min-height: 0;
    }
  }
  #banner .row{position: relative;background: $black; width: 100%; padding: 10px 0;}
	#welcome .welcome-img{top: 50%; transform: translateY(-50%);}
	#welcome .red-box .text .link-container .lc-left,
	#welcome .red-box .text .link-container .lc-right{
		flex-basis: 70%;
		margin: 10px auto;
	}
	#services .service-container .services-box{flex-basis: 45%;}
	#services .service-container .services-box p{font-size: 32px}
  #services .service-container .services-box p span{font-size: 20px;}
	#reviews .row{flex-wrap: wrap;}
	#reviews img.reviews-img, #reviews .review-box{flex-basis: 100%;width: 100%;}
	#reviews img.reviews-img {order: 2;}
	#reviews .review-box {order: 1;max-width: 100%; margin: 0 auto;}
	#reviews .review-box h2{font-size: 96px;}
	#reviews .review-box .comment{max-width: 60%; width: 60%;}
	#footer .footer-bottom .footer-logo{position: relative;}
}
