@media screen and (max-width:1440px){
  body {min-width: 320px}
	.row {width: 95%}
  #banner .bannerLogo{width: 18%;}
  #welcome .welcome-txt{font-size: 10vw;}
  #welcome .what-text{font-size: 10vw;bottom: 0;}
  #welcome .welcome-img{width: 35%;}
  #welcome .red-box .text{width: 65%;}
  #welcome .red-box .text h1{padding: 0 40px 40px 0;}
  #welcome .red-box .text p{padding: 0 40px 0 0;}
  #services .service-container .services-box{@include flex-basis(420px, 1829px);}
  #services .service-container .services-box p{font-size: 20px}
  #services .service-container .services-box p span{font-size: 10px;}
  #reviews h2.header-testi{font-size: 10vw;}
  #reviews .review-box h2{width: 90%; font-size: 6vw; margin: 0 auto;}
  #footer .footer-bottom .company-name{font-size: 10vw;top: unset; bottom: 5%; transform: translateX(-50%);}
}
