@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Bree Serif'; src: url("fonts/BreeSerif/BreeSerif-Regular.woff2") format("woff2"), url("fonts/BreeSerif/BreeSerif-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Montserrat"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; max-width: 220px; width: 100%; font-family: "Bree Serif"; font-weight: 400; font-size: 16px; letter-spacing: 2px; line-height: 100%; color: #FFFFFF; display: inline-block; padding: 16px 0; background: none; border: 2px solid #FFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000000; }

.btn2 { text-align: center; max-width: 222px; width: 100%; font-family: "Bree Serif"; font-weight: 400; font-size: 16px; letter-spacing: 2px; line-height: 100%; color: #FFFFFF; display: inline-block; padding: 16px 0; background: #CC001F; border: 2px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #000000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Bree Serif"; font-weight: 400; font-size: 73px; letter-spacing: 0; line-height: 100%; color: #000; }

h2 { font-family: "Bree Serif"; font-weight: 400; font-size: 73px; letter-spacing: 0; line-height: 100%; color: #000; }

/*header*/
#header { position: absolute; top: 0; left: 0; right: 0; z-index: 999; background: none; }

#header .row { max-width: 1344px; padding: 50px 0 26px; width: 95%; border-bottom: 1px solid rgba(255, 255, 255, 0.29); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { list-style: none; }

#header nav ul li a { text-decoration: none; display: inline-block; font-family: "Bree Serif"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 23px; color: #FFFFFF; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #fff; }

#header .hd-left { -ms-flex-preferred-size: 74.25595%; flex-basis: 74.25595%; }

#header .hd-right { -ms-flex-preferred-size: 19.94048%; flex-basis: 19.94048%; }

#header .hd-right p { margin: 0 auto; max-width: 218px; padding: 0 0 0 58px; position: relative; }

#header .hd-right p a { font-family: "Montserrat"; font-weight: 600; font-size: 34px; letter-spacing: 0; line-height: 43px; color: #FFFFFF; }

#header .hd-right p a::before { content: ""; width: 45px; height: 45px; position: absolute; top: 0; left: 0; background: url(../images/common/icons/phone-icon.jpg); }

/*banner*/
#banner { position: relative; }

#banner .slider { max-width: 100%; width: 100%; }

#banner .slider img { max-width: 100%; width: 100%; }

#banner .bannerLogo { position: absolute; top: 181px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); max-width: 335px; width: 23%; }

#banner .social-media { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); padding: 45px 0; max-width: 66px; width: 100%; background: #CC001F; }

#banner .social-media p { min-height: 313px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#banner .social-media p a { font-family: "socialico"; font-weight: 400; font-size: 23px; letter-spacing: 0; line-height: 100%; color: #FFFFFF; }

#banner .row { position: absolute; left: 0; right: 0; bottom: 8%; }

#banner .row h1 { font-family: "Bree Serif"; font-weight: 400; font-size: 120px; letter-spacing: 0; line-height: 130%; color: #FFFFFF; }

#banner .row p { margin: 0 auto 16px; font-family: "Montserrat"; font-weight: 600; font-size: 32px; letter-spacing: 12.872px; line-height: 100%; color: #FFFFFF; }

/*-----------------------------------------------------------------
------------------------------Welcome------------------------------
-----------------------------------------------------------------*/
#welcome { position: relative; background: url(../images/common/section1Bg.jpg) no-repeat center center; background-size: cover; padding: 145px 0 134px; overflow: hidden; }

#welcome .row { max-width: 1440px; position: relative; }

#welcome .welcome-txt { position: absolute; top: 31px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index: 0; margin: 0; font-family: "Bree Serif"; font-weight: 400; font-size: 180px; letter-spacing: 0; line-height: 100%; color: #EEEEEE; }

#welcome .red-box { position: relative; background: #CC001F; z-index: 1; max-width: 1178px; width: 90%; margin: 0 0 0 auto; padding: 104px 0 84px; }

#welcome .red-box .text { max-width: 810px; margin: 0 0 0 auto; text-align: left; }

#welcome .red-box .text h1 { color: #FFFFFF; padding: 0 0 40px; position: relative; }

#welcome .red-box .text h1::after { content: ""; width: 445px; height: 2px; background: #FFF; position: absolute; right: 0; bottom: 0; }

#welcome .red-box .text p { max-width: 635px; margin: 40px 0 40px; font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0.7px; line-height: 30px; color: #FFFFFF; }

#welcome .red-box .text .link-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#welcome .red-box .text .link-container .lc-left { margin: 0 85px 0 0; text-align: center; -ms-flex-preferred-size: 30.98765%; flex-basis: 30.98765%; }

#welcome .red-box .text .link-container .lc-left .btn:first-child { margin: 0 0 15px; }

#welcome .red-box .text .link-container .lc-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-preferred-size: 38.51852%; flex-basis: 38.51852%; }

#welcome .welcome-img { position: absolute; top: -63px; left: 0; z-index: 1; -webkit-box-shadow: 10px 15px 40px -20px; box-shadow: 10px 15px 40px -20px; }

#welcome .what-text { width: 100%; position: absolute; bottom: -70px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index: 0; margin: 0; font-family: "Bree Serif"; font-weight: 400; font-size: 180px; letter-spacing: 0; line-height: 100%; color: #EEEEEE; }

/*-----------------------------------------------------------------
------------------------------Service------------------------------
-----------------------------------------------------------------*/
#services { background: url(../images/common/section2Bg.jpg) no-repeat center top; background-size: cover; padding: 109px 0 133px; }

#services .row { max-width: 1829px; }

#services h2 { color: #FFFFFF; margin: 0 0 30px; }

#services .service-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#services .service-container .services-box { position: relative; margin: 30px 6px 0; -ms-flex-preferred-size: 24.05686%; flex-basis: 24.05686%; }

#services .service-container .services-box img { width: 100%; }

#services .service-container .services-box p { text-align: left; position: absolute; top: 78%; left: 10%; margin: 0 auto; padding: 20px 0 0; font-family: "Montserrat"; font-weight: 600; font-size: 32px; letter-spacing: 0.6vw; line-height: 100%; color: #FFFFFF; }

#services .service-container .services-box p span { display: block; font-size: 20px; font-weight: 400; }

#services .service-container .services-box p::before { content: ""; width: 159px; height: 1px; position: absolute; top: 0; left: 0; background: rgba(255, 255, 255, 0.47); }

/*-----------------------------------------------------------------
------------------------------Reviews------------------------------
-----------------------------------------------------------------*/
#reviews { background: url(../images/common/section3Bg.jpg) no-repeat center top; background-size: cover; position: relative; padding: 140px 0 155px; overflow-x: hidden; }

#reviews .row { position: relative; z-index: 1; max-width: 1440px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#reviews h2.header-testi { position: absolute; top: 31px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index: 0; margin: 0; font-family: "Bree Serif"; font-weight: 400; font-size: 180px; letter-spacing: 0; line-height: 100%; color: #EEEEEE; }

#reviews img.reviews-img { max-width: 1164px; -ms-flex-preferred-size: 80.83333%; flex-basis: 80.83333%; width: 80.83333%; }

#reviews .review-box { position: relative; background: #CC001F; max-width: 550px; width: 100%; -ms-flex-preferred-size: 38.19444%; flex-basis: 38.19444%; margin: 67px 0 0 -276px; padding: 78px 0 69px; -webkit-box-shadow: 10px 15px 40px -20px; box-shadow: 10px 15px 40px -20px; }

#reviews .review-box::before { content: ""; width: 2px; height: 64px; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #FFFFFF; }

#reviews .review-box h2 { font-size: 96px; color: #FFF; line-height: 120%; }

#reviews .review-box .stars { font-size: 21px; color: #D9D900; margin: 12px 0; }

#reviews .review-box .comment { position: relative; max-width: 375px; width: 65%; margin: 0 auto; font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 1px; line-height: 30px; color: #FFFFFF; }

#reviews .review-box .comment::before { content: ""; width: 31px; height: 24px; background: url(../images/content/quote.png); position: absolute; left: -60px; top: 0; }

#reviews .review-box .author { margin: 20px 0; font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 1px; line-height: 30px; color: #FFFFFF; }

/*-----------------------------------------------------------------
-----------------------------CALL US-------------------------------
-----------------------------------------------------------------*/
#callus { background: url(../images/common/section4Bg.jpg) no-repeat center top; background-size: cover; padding: 138px 0 100px; overflow-x: hidden; }

#callus .row { max-width: 1440px; }

#callus h3 { font-family: "Bree Serif"; font-weight: 400; font-size: 53px; letter-spacing: 0; line-height: normal; color: #FFFFFF; margin: 0 0 15px; }

#callus h4 { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#callus .phone { font-family: "Montserrat"; font-weight: 600; font-size: 34px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; margin: 10px 0 0; display: inline-block; padding: 9px 15px 9px 65px; border: 1px solid #FFF; position: relative; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#callus .phone::before { content: ""; background: url(../images/common/icons/phone-icon.jpg); background-size: 100% 100%; width: 51px; height: 51px; position: absolute; top: -1px; left: -1px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#callus .phone:hover { background: #FFF; color: #000; }

#callus .phone:hover::before { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

/*-----------------------------------------------------------------
-----------------------------Contact-------------------------------
-----------------------------------------------------------------*/
#contact { background: url(../images/common/section5Bg.jpg) no-repeat center left; background-size: cover; padding: 135px 0 310px; overflow: hidden; }

#contact h2 { position: relative; font-size: 96px; color: #FFF; max-width: 1440px; width: 95%; margin: 0 auto; text-align: left; }

#contact h2::before { content: ""; width: 211px; height: 2px; background: #FFFFFF; position: absolute; top: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); left: -127px; }

#contact .row { max-width: 1440px; }

#contact form { max-width: 777px; margin: 25px auto 0 0; }

#contact form .top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#contact form .top div { -ms-flex-preferred-size: 49.16345%; flex-basis: 49.16345%; width: 49.16345%; }

#contact form .bottom { text-align: left; }

#contact form .bottom .confirmations { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#contact form .bottom .confirmations span { display: inline-block; vertical-align: top; width: 90%; margin-left: 10px; }

#contact form input[type="text"] { height: 42px; }

#contact form textarea { height: 324px; resize: none; }

#contact form input[type="text"], #contact form textarea { background: #FFFFFFB0; border: 0; padding: 16px 25px; font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #000000; }

#contact form input[type="text"]::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #000000; }

#contact form input[type="text"]:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #000000; }

#contact form input[type="text"]::-ms-input-placeholder, #contact form textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #000000; }

#contact form input[type="text"]::placeholder, #contact form textarea::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 30px; color: #000000; }

/*footer*/
#footer { background: #000000; padding: 1px 0 0; }

#footer .footer-top { margin: -134px 0 0; overflow-x: hidden; }

#footer .footer-top .row { position: relative; background: #CC001F; max-width: 1440px; padding: 57px 0 70px; z-index: 2; }

#footer .footer-top .row::before { content: ""; width: 50%; background: #CC001F; position: absolute; top: 0; bottom: 0; right: -50%; }

#footer .footer-top .flex-container { margin: 0 auto; max-width: 1097px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#footer .footer-top .flex-container div { -ms-flex-preferred-size: 33%; flex-basis: 33%; width: 33%; }

#footer .footer-top .email { position: relative; padding: 92px 0 0; font-family: "Montserrat"; font-weight: 600; font-size: 22px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#footer .footer-top .email::before { content: ""; background: url("../images/common/icons/info-sprites.png") no-repeat 0 0; width: 47px; height: 47px; position: absolute; top: 10px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#footer .footer-top .phone { position: relative; padding: 86px 0 0; border-left: 1px solid #FFFFFFB0; border-right: 1px solid #FFFFFFB0; font-family: "Montserrat"; font-weight: 600; font-size: 37px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#footer .footer-top .phone::before { content: ""; background: url("../images/common/icons/info-sprites.png") no-repeat -73px 0; width: 47px; height: 47px; position: absolute; top: 10px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#footer .footer-top .address { position: relative; padding: 77px 0 0; font-family: "Montserrat"; font-weight: 600; font-size: 22px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#footer .footer-top .address span { display: block; }

#footer .footer-top .address::before { content: ""; background: url("../images/common/icons/info-sprites.png") no-repeat -144px 0; width: 47px; height: 47px; position: absolute; top: 10px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#footer .footer-bottom { padding: 0 0 75px; position: relative; margin: 50px 0 0; overflow: hidden; }

#footer .footer-bottom .row { max-width: 1440px; position: relative; }

#footer .footer-bottom .footer-logo { position: absolute; top: 0; left: 0; }

#footer .footer-bottom ul { margin: 0 auto; padding: 10px 0; max-width: 1000px; width: 80%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#footer .footer-bottom ul li { display: inline-block; }

#footer .footer-bottom ul li a { display: inline-block; font-family: "Bree Serif"; font-weight: 400; font-size: 16px; letter-spacing: 0; line-height: 120%; color: #FFFFFF; margin: 20px; }

#footer .footer-bottom .company-name { width: 100%; position: absolute; top: 70%; left: 50%; -webkit-transform: translate(-50%, -30%); -ms-transform: translate(-50%, -30%); transform: translate(-50%, -30%); z-index: 0; margin: 0; font-family: "Bree Serif"; font-weight: 400; font-size: 180px; letter-spacing: 0; line-height: 100%; color: #FFFFFF4d; }

#footer .copy, #footer .silver { font-family: "Montserrat"; font-weight: 400; font-size: 15px; letter-spacing: 0; line-height: 30px; color: #FFFFFF; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0 180px; }

.inner #content h1 { margin-bottom: 20px; }

.services-page #content .service1 { max-width: 400px; margin: 0 auto; text-align: left; }

.services-page #content .service1 ul { text-align: left; padding: 0 0 0 40px; list-style: disc; }

.services-page #content .service1 ul li { line-height: 180%; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { body { min-width: 320px; }
  .row { width: 95%; }
  #banner .bannerLogo { width: 18%; }
  #welcome .welcome-txt { font-size: 10vw; }
  #welcome .what-text { font-size: 10vw; bottom: 0; }
  #welcome .welcome-img { width: 35%; }
  #welcome .red-box .text { width: 65%; }
  #welcome .red-box .text h1 { padding: 0 40px 40px 0; }
  #welcome .red-box .text p { padding: 0 40px 0 0; }
  #services .service-container .services-box { -ms-flex-preferred-size: 22.96337%; flex-basis: 22.96337%; }
  #services .service-container .services-box p { font-size: 20px; }
  #services .service-container .services-box p span { font-size: 10px; }
  #reviews h2.header-testi { font-size: 10vw; }
  #reviews .review-box h2 { width: 90%; font-size: 6vw; margin: 0 auto; }
  #footer .footer-bottom .company-name { font-size: 10vw; top: unset; bottom: 5%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); } }

@media screen and (max-width: 1024px) { #header .hd-left, #header .hd-right { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  #header .hd-right { margin: 26px 0 0; }
  #banner .slider { margin: 0 0 -5px; }
  #banner .bannerLogo { width: 35%; }
  #banner .social-media { position: relative; max-width: 100%; padding: 5px 0; top: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  #banner .social-media p { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; min-height: 0; }
  #banner .row { position: relative; background: #000000; width: 100%; padding: 10px 0; }
  #welcome .welcome-img { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #welcome .red-box .text .link-container .lc-left, #welcome .red-box .text .link-container .lc-right { -ms-flex-preferred-size: 70%; flex-basis: 70%; margin: 10px auto; }
  #services .service-container .services-box { -ms-flex-preferred-size: 45%; flex-basis: 45%; }
  #services .service-container .services-box p { font-size: 32px; }
  #services .service-container .services-box p span { font-size: 20px; }
  #reviews .row { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #reviews img.reviews-img, #reviews .review-box { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #reviews img.reviews-img { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #reviews .review-box { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; max-width: 100%; margin: 0 auto; }
  #reviews .review-box h2 { font-size: 96px; }
  #reviews .review-box .comment { max-width: 60%; width: 60%; }
  #footer .footer-bottom .footer-logo { position: relative; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 100%; }
  #header { padding: 50px 0 0; position: relative; }
  #header .row { width: 100%; padding: 0; }
  #header nav { display: block; height: auto; position: fixed; top: 0; left: 0; right: 0; z-index: 9999; }
  #header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; padding: 0 15px; background: rgba(0, 0, 0, 0.8); }
  #header nav ul li { width: 100%; position: relative; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; }
  #header nav a { text-align: left; width: 100%; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #header .hd-right { padding: 26px 0; margin: 0 0 -1px; background: #000; }
  #banner .bannerLogo { top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 45%; }
  #banner .row h1 { font-size: 15vw; }
  #banner .row p { font-size: 3vw; }
  #welcome { padding: 100px 0; }
  #welcome .welcome-img { position: relative; top: 0; -webkit-transform: translate(0); -ms-transform: translate(0); transform: translate(0); width: 80%; }
  #welcome .red-box { width: 100%; padding: 20px 0; }
  #welcome .red-box .text { width: 95%; }
  #services .service-container .services-box p { font-size: 26px; }
  #services .service-container .services-box p span { font-size: 12px; }
  #contact form .top div { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #footer .footer-top .flex-container div { width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 10px; }
  .cta { background: #035B96 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #013f9a; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

@media screen and (max-width: 640px) { #welcome .welcome-txt, #welcome .what-text { font-size: 16vw; }
  #welcome .what-text { bottom: 0; }
  h1 { font-size: 9vw; }
  h2 { font-size: 12vw; }
  #services .service-container .services-box { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  #reviews { padding: 90px 0; }
  #reviews .review-box h2 { font-size: 12vw; }
  #reviews .review-box .comment::before { left: -40px; }
  #contact { padding: 40px 0; }
  #contact h2 { font-size: 12vw; } }
